body {
    font-family: 'Poppins', sans-serif;
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px;
}

#login-page, #files-page {
    margin-top: 50px;
}

form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}

form button, #back-btn {
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover, #back-btn:hover {
    background-color: #21a1f1;
}

.uploaded-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
}
